#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
	echo "$@"
	exit 1
}

test -n "$DOCKER_NET" && ip ro replace $DOCKER_NET via 192.168.0.250

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -gt 200 && exit 0

SYSTEM_ID=$(printf '35f15062-7e2b-11e9-b640-0000000100%02x\n' $i)
echo $SYSTEM_ID > /etc/machine-id
mkdir -p /etc/openvswitch
echo $SYSTEM_ID > /etc/openvswitch/system-id.conf
ovsdb-tool create /etc/openvswitch/conf.db /usr/local/share/openvswitch/vswitch.ovsschema

/usr/local/share/openvswitch/scripts/ovs-ctl --system-id=$SYSTEM_ID start
