#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
    echo "$@"
    exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

vm() {
	sysctl -w net.ipv4.conf.all.arp_announce=2
	sysctl -w net.ipv4.conf.all.arp_ignore=1
	sysctl -w net.ipv4.ip_nonlocal_bind=1
	sysctl -w net.ipv6.ip_nonlocal_bind=1
	sysctl -w net.ipv4.conf.all.proxy_arp=0
	ip addr add 10.0.0.0/24 dev lo
	ip -6 addr add 1000::/120 dev lo
	ip -6 ro add local 1000::/120 dev lo
	mconnect -address [::]:5001 -server > /var/log/mconnect.log 2>&1 &
	ctraffic -address [::]:5003 -server > /var/log/ctraffic.log 2>&1 &
	udp-test -server > /var/log/udp-test.log 2>&1 &
}

router() {
	sysctl -w net.ipv4.conf.eth1.arp_ignore=1
	sysctl -w net.ipv4.conf.all.rp_filter=0
	sysctl -w net.ipv6.conf.all.forwarding=1
	sysctl -w net.ipv4.conf.all.forwarding=1
	echo 1 > /proc/sys/net/ipv4/conf/all/accept_local

	iptables -t nat -F
	ip6tables -t nat -F
	iptables -t raw -A PREROUTING -j NOTRACK
	ip6tables -t raw -A PREROUTING -j NOTRACK

	ip ro delete default
	if test "$TOPOLOGY" = "evil_tester"; then
		ip ro add 50.0.0.0/16 via 192.168.3.222
		ip -6 ro add 2000::/112 via 1000::1:192.168.3.222
	else
		ip ro add 50.0.0.0/16 via 192.168.2.221
		ip -6 ro add 2000::/112 via 1000::1:192.168.2.221
	fi
}

evil_tester() {
	sysctl -w net.ipv4.conf.eth1.arp_ignore=1
	sysctl -w net.ipv4.conf.all.rp_filter=0
	sysctl -w net.ipv6.conf.all.forwarding=1
	sysctl -w net.ipv4.conf.all.forwarding=1
	echo 1 > /proc/sys/net/ipv4/conf/all/accept_local
	ip ro add 50.0.0.0/16 via 192.168.2.221
	ip -6 ro add 2000::/112 via 1000::1:192.168.2.221
}

tester() {
	ip addr add 50.0.0.0/16 dev lo
	ip -6 addr add 2000::/112 dev lo
	ip -6 ro add local 2000::/112 dev lo
	sysctl -w net.ipv4.ip_nonlocal_bind=1
	sysctl -w net.ipv6.ip_nonlocal_bind=1
}

echo 0 > /proc/sys/net/ipv4/fib_multipath_hash_policy
echo 0 > /proc/sys/net/ipv6/fib_multipath_hash_policy

case $(hostname) in
	vm-0*)
		vm;;
	vm-20*)
		router;;
	vm-221)
		tester;;
	vm-222)
		evil_tester;;
esac
