#! /bin/sh

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0

. /etc/profile

#modprobe ip_vs
#sysctl -w net.ipv4.vs.sloppy_tcp=1

test -n "$SCHEDULER" || exit 0
sed -i -e "s,scheduler: \"\",scheduler: \"$SCHEDULER\"," \
	/etc/kubernetes/kube-proxy.config

