#! /bin/sh
. /usr/lib/network-topology.sh

vm() {
	ifsetup eth1 1
	ifsetup eth2 2

	ip ro add default via 192.168.1.201
	ip -6 ro add default via $PREFIX:192.168.1.201

	ip ru add oif eth2 table 300
	ip ro add default via 192.168.2.202 table 300
	ip -6 ru add oif eth2 table 301
	ip -6 ro add default via $PREFIX:192.168.2.202 table 301

	ip ro add 192.168.4.0/24 via 192.168.2.202
	ip -6 ro add $PREFIX:192.168.4.0/120 via $PREFIX:192.168.2.202
}

router201() {
	fwsetup
	ifsetup eth1 1
	ifsetup eth2 3
	ip ro add default via 192.168.0.250
	iptables -t nat -A POSTROUTING -s 192.168.1.0/24 -o eth0 -j MASQUERADE
	iptables -t nat -A POSTROUTING -s 192.168.1.0/24 -o eth2 -j MASQUERADE
	iptables -t nat -A PREROUTING -j DNAT -s 192.168.3.221 --to-destination 192.168.1.1
	iptables -t nat -A PREROUTING -j DNAT -s 192.168.3.222 --to-destination 192.168.1.2
}

router202() {
	fwsetup
	ifsetup eth1 2
	ifsetup eth2 4
	ip ro add default via 192.168.0.250
	iptables -t nat -A POSTROUTING -s 192.168.2.0/24 -o eth2 -j MASQUERADE
	iptables -t nat -A PREROUTING -j DNAT -s 192.168.4.221 --to-destination 192.168.2.1
	iptables -t nat -A PREROUTING -j DNAT -s 192.168.4.222 --to-destination 192.168.2.2
}

tester() {
	ifsetup eth1 3
	ifsetup eth2 4

	ip ro add default via 192.168.3.201
	ip -6 ro add default via $PREFIX:192.168.3.201
	
	ip ru add oif eth2 table 300
	ip ro add default via 192.168.4.202 table 300
	ip -6 ru add oif eth2 table 301
	ip -6 ro add default via $PREFIX:192.168.4.202 table 301

	ip ro add 192.168.2.0/24 via 192.168.4.202
	ip -6 ro add $PREFIX:192.168.2.0/120 via $PREFIX:192.168.4.202

	ip ro add 10.0.0.0/25 via 192.168.3.201
	ip -6 ro add $PREFIX:10.0.0.0/121 via $PREFIX:192.168.3.201
	ip ro add 10.0.0.128/25 via 192.168.4.202
	ip -6 ro add $PREFIX:10.0.0.128/121 via $PREFIX:192.168.4.202
}


case $(hostname) in
	vm-0*)
		vm;;
	vm-201)
		router201;;
	vm-202)
		router202;;
	vm-22*)
		tester;;
esac
