#! /bin/sh
. /usr/lib/network-topology.sh

vm() {
	ifsetup eth1 1
	ifsetup eth2 3
	ip ro replace default via 192.168.3.201
	ip -6 ro replace default via $PREFIX:192.168.3.201
}

router() {
	fwsetup
	ifsetup eth1 3
	ifsetup eth2 2
	ip ro add default via 192.168.0.250
	iptables -t nat -A POSTROUTING -s 192.168.3.0/24 -o eth0 -j MASQUERADE
	iptables -t nat -A POSTROUTING -s 192.168.2.0/24 -o eth0 -j MASQUERADE
}

tester() {
	ifsetup eth1 2
	ip ro replace default via 192.168.2.201
	ip -6 ro replace default via $PREFIX:192.168.2.201
}


case $(hostname) in
	vm-20*)
		router;;
	vm-22*)
		tester;;
	vm-*)
		vm;;
esac
