#! /bin/sh
die() {
	echo "$@"
	exit 1
}

. /etc/profile
test -n "$PREFIX" || PREFIX=1000::1
test -n "$DOMAIN" || DOMAIN=xcluster
test -n "$KUBECONFIG" || KUBECONFIG=/etc/kubernetes/kubeconfig.token

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

killall coredns

if grep -q 'token:' $KUBECONFIG; then
	cat > /etc/Corefile <<EOF
.:53 {
    kubernetes $DOMAIN {
      endpoint http://192.168.1.1:6443
      kubeconfig $KUBECONFIG xcluster
    }
    forward . 192.168.0.250:10053
    cache 3000
    log stdout
}
EOF
	else
		cat > /etc/Corefile <<EOF
.:53 {
    kubernetes $DOMAIN {
      endpoint http://192.168.1.1:8080
    }
    forward . 192.168.0.250:10053
    cache 3000
    log stdout
}
EOF
fi

if test "$BASE_FAMILY" = "IPv6"; then
	sed -i -e "s,192.168.1.1,[$PREFIX:192.168.1.1]," /etc/Corefile
fi

run_coredns() {
	coredns -conf /etc/Corefile >> /var/log/coredns.log 2>&1
}

monitor() {
	while true; do
		logger -t K8s-monitor "STARTING: $1"
		$1
		logger -t K8s-monitor "DIED: $1"
		sleep 2
		. /etc/profile
	done
}

(monitor run_coredns) > /dev/null 2>&1 &

