#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0

test -x /bin/hyperkube || return 0

for n in kube-controller-manager kube-scheduler kube-apiserver \
	kube-proxy kubectl kubelet; do
	test -e /bin/$n && continue
	ln -s hyperkube /bin/$n
done

