#! /bin/sh

die() {
    echo "ERROR: $@" >&2
    exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')


router() {

	echo 1 > /proc/sys/net/ipv4/fib_multipath_hash_policy
	echo 1 > /proc/sys/net/ipv4/conf/all/forwarding
	echo 1 > /proc/sys/net/ipv6/conf/all/forwarding

	echo 0 > /proc/sys/net/ipv6/conf/eth2/accept_dad
	ip addr add 192.168.2.$i/24 dev eth2
	ip -6 addr add 2000:2::$i/64 dev eth2
	ip link set up dev eth2

	ip ro add 10.0.0.0/24 \
		nexthop via 192.168.1.1 \
		nexthop via 192.168.1.2 \
		nexthop via 192.168.1.3 \
		nexthop via 192.168.1.4

	ip -6 ro add 1000::/96 \
		nexthop via 1000::1:192.168.1.1 \
		nexthop via 1000::1:192.168.1.2 \
		nexthop via 1000::1:192.168.1.3 \
		nexthop via 1000::1:192.168.1.4
}

node() {
	true
}

case $(hostname) in
	vm-0*)
		node;;
	vm-20*)
		router;;
	vm-22*)
	;;
esac
