#! /bin/sh
die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

# Ipv6 prefix; 1000::/64
# All nodes, pod's and external VIP's shall have this prefix.


vm() {
	echo 1 > /proc/sys/net/ipv4/fib_multipath_hash_policy
	ip ro del default > /dev/null 2>&1
	ip ro add default nexthop via 192.168.1.201 nexthop via 192.168.1.202
	ip -6 ro del default > /dev/null 2>&1
	ip -6 ro add default \
		nexthop via 1000::1:192.168.1.201 nexthop via 1000::1:192.168.1.201
	iptables -t nat -I POSTROUTING 1 -s 11.0.0.0/16 ! -d 11.0.0.0/16 -j MASQUERADE
	ip6tables -t nat -I POSTROUTING 1 -s 1000::2:11.0.0.0/112 ! -d 1000::2:11.0.0.0/112 -j MASQUERADE
}

router() {
	echo 1 > /proc/sys/net/ipv4/ip_forward
	echo 1 > /proc/sys/net/ipv4/fib_multipath_hash_policy
	echo 1 > /proc/sys/net/ipv4/conf/all/forwarding
	echo 1 > /proc/sys/net/ipv6/conf/all/forwarding

	echo 0 > /proc/sys/net/ipv6/conf/eth1/accept_dad
	ip addr add 192.168.1.$i/24 dev eth1
	#ip -6 addr add 2000:1::$i/64 dev eth1
	ip -6 addr add 1000::1:192.168.1.$i/120 dev eth1
	ip link set up dev eth1

	echo 0 > /proc/sys/net/ipv6/conf/eth2/accept_dad
	ip addr add 192.168.2.$i/24 dev eth2
	ip -6 addr add 2000:2::$i/64 dev eth2
	ip link set up dev eth2

	ip ro add default via 192.168.0.250
	iptables -t nat -A POSTROUTING -s 192.168.1.0/24 -o eth0 -j MASQUERADE

	local_dns
}

tester() {
	echo 0 > /proc/sys/net/ipv6/conf/eth1/accept_dad
	ip addr add 192.168.2.$i/24 dev eth1
	ip -6 addr add 2000:2::$i/64 dev eth1
	ip link set up dev eth1

	local_dns
}

local_dns() {
	# Setup a local coredns
	cat > /etc/Corefile <<EOF
.:53 {
    proxy . 192.168.0.250:10053
    cache 3000
    log stdout
}
EOF
	cat > /etc/resolv.conf <<EOF
nameserver 127.0.0.1
options use-vc
EOF
	coredns -conf /etc/Corefile > /var/log/coredns.log 2>&1 &
}

case $(hostname) in
	vm-0*)
		vm;;
	vm-20*)
		router;;
	vm-22*)
		tester;;
esac
