#! /bin/sh
die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

test $i -le 200 || exit 0

# Add vm 1-32 to /etc/hosts
for x in $(seq 1 32); do
	if test $x -eq $i; then
		printf "127.0.1.1 vm-%03d\\n" $x >> /etc/hosts
	else
		printf "192.168.1.$x vm-%03d\\n" $x >> /etc/hosts
	fi
done

# Work around for bad install of dropbear
test -r /usr/bin/dbclient || ln /bin/dbclient /usr/bin/dbclient

mount -t tmpfs tmpfs /sys/fs/cgroup
for d in cpuset memory; do
	mkdir /sys/fs/cgroup/$d
	mount -t cgroup cgroup /sys/fs/cgroup/$d
done

for f in $(find /var/lib/rancher/k3s/agent/images -name '*.gz'); do
	gunzip $f
done
