#! /bin/sh
die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

test $i -le 200 || exit 0

if test -x /bin/kube-proxy; then
	echo "FAIL: K8s is installed, k3s is disabled!!"
	echo "echo 'FAIL: K8s is installed, k3s is disabled!!'" >> /root/.profile
	return 1
fi

export K3S_CLUSTER_SECRET=SECRET
echo "alias kubectl='k3s kubectl'" >> /etc/profile

start_server() {
	echo "export KUBECONFIG=/etc/kubernetes/kubeconfig" >> /etc/profile
	# Start the server only on vm-001
	(exec k3s server --cluster-dns=10.43.0.10 \
		--no-deploy servicelb --no-deploy traefik --disable-agent \
		--write-kubeconfig /etc/kubernetes/kubeconfig --tls-san 192.168.0.1 \
		> /var/log/k3s-server.log 2>&1) &
}

start_agent() {
	echo "export KUBECONFIG=/var/lib/rancher/k3s/agent/kubeconfig.yaml" >> /etc/profile
	(exec k3s agent --node-ip=192.168.1.$i --server https://192.168.1.1:6443 \
		$K3S_AGENT_OPTS > /var/log/k3s-agent.log 2>&1) &
}

# Start docker if present
if test -x /docker/dockerd -a $i -gt 1; then
	export PATH=/docker:$PATH
	dockerd --registry-mirror=http://172.17.0.1 --insecure-registry 172.17.0.1 > /var/log/dockerd.log 2>&1 &
fi

# Allow overlays to alter the startup. Normally only K3S_AGENT_OPTS
# needs to be set, but the start functions can be re-defined for a
# "full-custom" start up.
K3S_AGENT_OPTS="--flannel-iface=eth1"
if test -d /etc/k3s.rc; then
	for f in $(find /etc/k3s.rc -type f -name '*.rc' | sort); do
		. $f
	done
fi

if test $i -eq 1; then
	start_server
	exit 0
fi

# Start agent only on all nodes except vm-001
test -x /docker/dockerd && K3S_AGENT_OPTS+=" -docker"
start_agent
