#! /bin/sh
die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')


vm() {
	echo 1 > /proc/sys/net/ipv4/fib_multipath_hash_policy

	echo 0 > /proc/sys/net/ipv6/conf/eth1/accept_dad
	ip addr add 192.168.1.$i/24 dev eth1
	ip -6 addr add 2000:1::$i/64 dev eth1
	ip link set up dev eth1

	ip ro add default \
		nexthop via 192.168.1.201 \
		nexthop via 192.168.1.202
	ip -6 ro add default \
		nexthop via 2000:1::201 \
		nexthop via 2000:1::202
	ip ro add 222.222.233.0/24 via 192.168.1.201
	ip -6 ro add 6000::/112 via 2000:1::201

	ip addr add 10.0.0.2/32 dev lo
	ip -6 addr add 1000::2/128 dev lo

	mconnect -address [::]:5001 -server > /var/log/mconnect.log 2>&1 &
}

router() {
	echo 1 > /proc/sys/net/ipv4/ip_forward
	echo 1 > /proc/sys/net/ipv4/fib_multipath_hash_policy
	echo 1 > /proc/sys/net/ipv4/conf/all/forwarding
	echo 1 > /proc/sys/net/ipv6/conf/all/forwarding

	echo 0 > /proc/sys/net/ipv6/conf/eth1/accept_dad
	ip addr add 192.168.1.$i/24 dev eth1
	ip -6 addr add 2000:1::$i/64 dev eth1
	ip link set up dev eth1

	echo 0 > /proc/sys/net/ipv6/conf/eth2/accept_dad
	ip addr add 192.168.2.$i/24 dev eth2
	ip -6 addr add 2000:2::$i/64 dev eth2
	ip link set up dev eth2

	ip ro add 10.0.0.0/24 \
		nexthop via 192.168.1.1 \
		nexthop via 192.168.1.2 \
		nexthop via 192.168.1.3 \
		nexthop via 192.168.1.4

	ip -6 ro add 1000::/64 \
		nexthop via 2000:1::1 \
		nexthop via 2000:1::2 \
		nexthop via 2000:1::3 \
		nexthop via 2000:1::4

	ip ro add 222.222.222.0/24 via 192.168.2.221
	ip -6 ro add 5000::/112 via 2000:2::221

	if test $i -eq 201; then
		ip addr add 222.222.233.0/24 dev lo
		ip -6 addr add 6000::/112 dev lo
		ip -6 ro add local 6000::/112 dev lo
		sysctl -w net.ipv4.ip_nonlocal_bind=1
		sysctl -w net.ipv6.ip_nonlocal_bind=1
	fi
}

tester() {
	echo 0 > /proc/sys/net/ipv6/conf/eth1/accept_dad
	ip addr add 192.168.2.$i/24 dev eth1
	ip -6 addr add 2000:2::$i/64 dev eth1
	ip link set up dev eth1

	ip ro add default \
		nexthop via 192.168.2.201 \
		nexthop via 192.168.2.202
	ip -6 ro add default \
		nexthop via 2000:2::201 \
		nexthop via 2000:2::202

	sysctl -w net.ipv4.ip_nonlocal_bind=1
	sysctl -w net.ipv6.ip_nonlocal_bind=1

	ip addr add 222.222.222.0/24 dev lo
	ip -6 addr add 5000::/112 dev lo
	ip -6 ro add local 5000::/112 dev lo
}

case $(hostname) in
	vm-0*)
		vm;;
	vm-20*)
		router;;
	vm-22*)
		tester;;
esac
