#! /bin/sh
export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0
test -n "$FIRST_WORKER" || FIRST_WORKER=1
test $i -lt $FIRST_WORKER && exit 0


mkdir -p /etc/cni/net.d/whereabouts.d
cat > /etc/cni/net.d/whereabouts.d/whereabouts.conf <<EOF
{
  "datastore": "kubernetes",
  "kubernetes": {
    "kubeconfig": "/etc/kubernetes/kubeconfig.token"
  },
  "log_file": "/var/log/whereabouts.log",
  "log_level": "debug"
}
EOF
