#! /bin/sh

. /etc/profile

if test "$ULOGD" = "yes"; then
    # Needed for logging CT events to ulogd2
    sysctl -w net.netfilter.nf_conntrack_acct=1
    sysctl -w net.netfilter.nf_conntrack_timestamp=1

    # start ulogd as a daemon
    ulogd -d
fi

if test "$IPTABLES_MODE" = "nft"; then
	for n in '' -save -restore; do
		ln -sf xtables-$IPTABLES_MODE-multi /usr/sbin/iptables$n
		ln -sf xtables-$IPTABLES_MODE-multi /usr/sbin/ip6tables$n
	done
fi
