#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile
test -n "$__nrouters" || __nrouters=1
test -n "$__nvm" || __nvm=4

die() {
    echo "$@"
    exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

vm() {
	return 0
}

router() {
	#ethtool -K eth1 gro off gso off tso off
	#ethtool -K eth2 gro off gso off tso off
	mkdir -p /sys/fs/bpf
	mount -t bpf none /sys/fs/bpf
	mkdir -p /sys/kernel/debug
	mount -t debugfs none /sys/kernel/debug
	return 0
}

tester() {
	return 0
}

case $(hostname) in
	vm-0*)
		vm;;
	vm-20*)
		router;;
	vm-22*)
		tester;;
esac
