#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0

test -n "$DOMAIN" || DOMAIN=xcluster
. /etc/cri-plugin.rc

# Add route to the private Docker registry
ip -6 route add fd00:2008::/64 via 2000::250

# See;
# https://stackoverflow.com/questions/46726216/kubelet-fails-to-get-cgroup-stats-for-docker-and-kubelet-services

run_kubelet() {
	kubelet --address=:: --node-ip=1000::1:192.168.1.$i $CRI_OPTS \
		--register-node=true --kubeconfig $KUBECONFIG \
		--network-plugin=cni \
		--cluster-dns=1000::1:192.168.1.$i --cluster-domain=$DOMAIN \
		--runtime-cgroups=/systemd/system.slice \
		--kubelet-cgroups=/systemd/system.slice >> /var/log/kubelet.log 2>&1
}

run_kube_proxy() {
	kube-proxy --config /etc/kubernetes/kube-proxy.config \
		>> /var/log/kube-proxy.log 2>&1
}

monitor() {
	while true; do
		logger -t K8s-monitor "STARTING: $1"
		$1
		logger -t K8s-monitor "DIED: $1"
		sleep 2
	done
}

(monitor run_kubelet) > /dev/null 2>&1 &
echo "$PROXY_MODE" | grep -iq "disable" || \
	(monitor run_kube_proxy) > /dev/null 2>&1 &

# For --proxy-mode=iptables you must add;
#ip -6 ro add local fd00:4000::/112 dev lo
