#! /bin/sh
. /etc/profile
test -n "$__nrouters" || echo "__nrouters=0" >> /etc/profile

echo 1 > /proc/sys/net/ipv6/conf/all/addr_gen_mode
echo 1 > /proc/sys/net/ipv6/conf/default/addr_gen_mode

ip link set up dev lo

test -n "$DHCP_IFACES" || DHCP_IFACES="eth0"
for i in $DHCP_IFACES; do
	ip link show dev $i > /dev/null 2>&1 || continue
	ip link set up dev $i
	udhcpc -q -n -t 2 -i $i || continue
	echo "DHCP_$i=yes" >> /etc/profile
done

inetd
