#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0

config_private_reg() {
	local r
	cat >> $cfg <<EOF
version = 2
[plugins."io.containerd.grpc.v1.cri"]
  sandbox_image = "registry.k8s.io/pause:3.8"
EOF
	cat >> $cfg <<EOF
[plugins."io.containerd.grpc.v1.cri".registry]
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
EOF
	for r in $(cat /etc/spoofed-hosts | cut -d' ' -f2); do
		cat >> $cfg <<EOF
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."$r"]
      endpoint = ["http://$r"]
EOF
	done	
	cat >> $cfg <<EOF
  [plugins."io.containerd.grpc.v1.cri".registry.configs]
EOF
	for r in $(cat /etc/spoofed-hosts | cut -d' ' -f2); do
		cat >> $cfg <<EOF
    [plugins."io.containerd.grpc.v1.cri".registry.configs."$r".tls]
      insecure_skip_verify = true
EOF
	done
}

# Generate a version=3 config for containerd v2.x
config_private_reg2() {
	local r cfgpath=/etc/containerd/certs.d
	cat >> $cfg <<EOF
version = 3
[plugins.'io.containerd.cri.v1.images'.PinnedImages]
  sandbox = "registry.k8s.io/pause:3.8"
[plugins.'io.containerd.cri.v1.images'.registry]
  config_path = "$cfgpath"
EOF
	mkdir -p $cfgpath/_default
	cat > $cfgpath/_default/hosts.toml <<EOF
server = "http://example.com:80"
[host."http://example.com:80"]
  capabilities = ["pull"]
  skip_verify = true
EOF
	# Use "example.com" since it's spoofed to the docker registry address
}

crictl config --set runtime-endpoint=unix:///run/containerd/containerd.sock

cfg=/etc/containerd/config.toml
mkdir -p /etc/containerd
if test -r /etc/spoofed-hosts; then
	if containerd --version | grep -qF v2.; then
		config_private_reg2
	else
		config_private_reg
	fi
fi

containerd > /var/log/containerd.log 2>&1 &
sleep 0.2

cat > /etc/cri-plugin.rc <<EOF
# CRI options to "kubelet";
CRI_OPTS="--container-runtime-endpoint=unix:///run/containerd/containerd.sock --image-service-endpoint=unix:///run/containerd/containerd.sock $CRI_OPTS"
EOF
