[Unit]
Description=Kubernetes Master
After=kube-prep.service

[Service]
Type=forking
ExecStart=/etc/systemd/bin/kube-master
TimeoutSec=10
StandardOutput=tty
StandardError=inherit

[Install]
WantedBy=multi-user.target
