[Unit]
Description=Kubernetes prepare
After=etcd.service

[Service]
Type=forking
ExecStart=/etc/systemd/bin/kube-prep
TimeoutSec=10
StandardOutput=tty
StandardError=inherit

[Install]
WantedBy=multi-user.target
