#! /bin/sh

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"
. /etc/profile

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')
test $i -le 200 || exit 0
test -n "$PREFIX" || PREFIX=1000::1

# The prefered way to suspress the default bridge CNI-plugin is to set
# $CNI_INFO, either with xcluster_CNI_INFO, or in a script loaded
# before before this script. As a fallback for backward compatibility
# we check the precense of known start files for other CNI-plugins
if test -n "$CNI_INFO"; then
	echo "$CNI_INFO" | grep -qi bridge || exit 0
else
	test -r /etc/kubernetes/load/antrea.yaml \
		-o -r /etc/init.d/20calico-prep.rc \
		-o -r /etc/init.d/25cilium-prep.rc \
		-o -r /etc/init.d/25ovs-cni.rc \
		-o -r /etc/kubernetes/load/kube-flannel.yaml \
		-o -r /etc/init.d/20xcluster-cni-prep.rc && exit 1
	echo CNI_INFO=bridge >> /etc/profile
fi

mkdir -p /etc/cni/net.d
if test "$IP_FAMILY_ORDER" = "64"; then
	cat > /etc/cni/net.d/10-bridge.conf <<EOF
{
  "cniVersion": "0.4.0",
  "name": "cni-x",
  "type": "bridge",
  "bridge": "cbr0",
  "isDefaultGateway": true,
  "hairpinMode": true,
  "ipam": {
    "type": "host-local",
    "ranges": [
      [ { "subnet": "1100::${i}00/120" } ],
      [ { "subnet": "11.0.$i.0/24" } ]
    ]
  }
}
EOF
else
	cat > /etc/cni/net.d/10-bridge.conf <<EOF
{
  "cniVersion": "0.4.0",
  "name": "cni-x",
  "type": "bridge",
  "bridge": "cbr0",
  "isDefaultGateway": true,
  "hairpinMode": true,
  "ipam": {
    "type": "host-local",
    "ranges": [
      [ { "subnet": "11.0.$i.0/24" } ],
      [ { "subnet": "1100::${i}00/120" } ]
    ]
  }
}
EOF
fi

test -n "$__nvm" || __nvm=4
for n in $(seq 1 $__nvm); do
	test $n -eq $i && continue
	ip ro add 11.0.$n.0/24 via 192.168.1.$n
	ip -6 ro add 1100::${n}00/120 via $PREFIX:192.168.1.$n
done

iptables -t nat -I POSTROUTING 1 -s 11.0.0.0/16 ! -d 11.0.0.0/16 -j MASQUERADE
ip6tables -t nat -I POSTROUTING 1 -s 1100::/16 ! -d 1100::/16 -j MASQUERADE

/opt/cni/bin/cni-bridge.sh monitor < /dev/null > /var/log/bridge.log 2>&1 &

